[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "==1.6.3"
black = "==24.3.0"
coverage = "~=5.0"
parameterized = "==0.7.0"
prospector = "~=1.2.0"
isort = "~=4.3.21"
django-extensions = "*"
ipdb = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
requests-mock = "*"
watchdog = {extras = ["watchmedo"], version = "*"}
freezegun = "*"
pytest-mock = "*"

[packages]
djangorestframework = "~=3.15.2"
django-environ = "~=0.4"
django-model-utils = "~=4.0"
sentry-sdk = "~=2.8.0"
typed-ast = "~=1.4.2"
mohawk = ">=1.1"
python-dateutil = "~=2.8"
requests = "~=2.31"
unidecode = "~=1.2"
django-log-formatter-ecs = "==0.0.5"
gunicorn = "*"
django = "~=4.2.18"
elastic-apm = "==6.7.2"
msal = "~=1.28.0"
psycopg2-binary = "~=2.9.3"
setuptools = "~=70.0.0"
celery = "~=5.3.0"
redis = "~=4.0.2"
django-health-check = "~=3.18.1"
database-sanitizer = ">=1.1.0"
factory-boy = "~=2.12.0"
boto3 = "~=1.26.17"
typing-extensions ="~=4.3.0"
django-log-formatter-asim = "~=0.0.5"
dbt-copilot-python = "~=0.2.1"
dj-database-url = "~=2.2.0"
django-redis = "~=5.4.0"

[requires]
python_version = "3.9"
python_full_version = "3.9.18"
