[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "==1.6.3"
black = "==24.3.0"
coverage = "~=5.0"
parameterized = "==0.7.0"
prospector = "~=1.2.0"
isort = "~=4.3.21"
django-extensions = "*"
ipdb = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
requests-mock = "*"
watchdog = {extras = ["watchmedo"], version = "*"}

[packages]
djangorestframework = "~=3.14.0"
django-environ = "~=0.4"
django-model-utils = "~=4.0"
sentry-sdk = "~=1.17.0"
typed-ast = "~=1.4.2"
mohawk = ">=1.1"
python-dateutil = "~=2.8"
requests = "~=2.31"
unidecode = "~=1.2"
django-log-formatter-ecs = "==0.0.5"
gunicorn = "*"
django = "~=4.2.8"
elastic-apm = "==6.7.2"
msal = "~=1.22.0"
psycopg2-binary = "~=2.9.3"
setuptools = "~=65.5.1"
celery = "~=5.2.7"
redis = "~=4.0.2"
django-health-check = "~=3.17.0"
database-sanitizer = ">=1.1.0"
factory-boy = "~=2.12.0"
boto3 = "~=1.26.17"

[requires]
python_version = "3.8"
python_full_version = "3.8.17"
